.DS_Store
.idea/
.vscode/
.shadow-cljs/

# Build artefacts
public/js/
.cpcache/
node_modules/
ios/.build/
android/build/
android/.gradle/

# Backup written by `wun link`; `wun unlink` restores from it.
.deps.edn.linkbak
