{:paths ["src" "resources"]
 :deps  {org.clojure/clojure          {:mvn/version "1.12.0"}
         org.clojure/core.async       {:mvn/version "1.6.681"}
         io.pedestal/pedestal.service {:mvn/version "0.7.1"}
         io.pedestal/pedestal.jetty   {:mvn/version "0.7.1"}
         com.cognitect/transit-clj    {:mvn/version "1.0.333"}
         ch.qos.logback/logback-classic {:mvn/version "1.5.6"}}

 :aliases
 {:dev  {:extra-paths ["dev"]
         :extra-deps  {nrepl/nrepl {:mvn/version "1.3.0"}}}
  :run  {:main-opts ["-m" "wun.server.core"]}}}
