[{:db/ident       :users/email
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity}

 {:db/ident       :users/password-hash
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident       :users/created-at
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident       :sessions/token
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity}

 {:db/ident       :sessions/user
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident       :sessions/created-at
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one}]
